{% extends "base.html" %} 
{% load static %}
{% block content %}

<form id="mainform" action="{% url 'create:create' %}" method="POST" data-validate>
  {% csrf_token %}
  <div id="column_name_form">
    {{ column_name_form }}
  </div>
  <div class="mt-5" id="column_type_form">
    {{ column_type_form }}
  </div>
  <div class="mt-5" id="generate_type_form">
  </div>
  <div class="mt-5" id="data_detail">
  </div>
  <div class="mt-5" id="gen_button">
  </div>
</form>

<div class="mt-5">
  <div>
    Output json
  </div>

  <textarea class="mt-2 form-control" id="output_json">
  </textarea>

</div>

<script src="{% static 'create/create.js' %}"></script>

{% endblock %}