{% extends "base.html" %} 
{% load static %}
{% block content %}

<form id="mainform" action="{% url 'create:create' %}" method="POST" data-validate>
  {% csrf_token %}
  <div id="column_name_form">
    {{ column_name_form }}
  </div>
  <div class="mt-5" id="column_type_form">
    {{ column_type_form }}
  </div>
  <div class="mt-5" id="generate_type_form">
  </div>
  <div class="mt-5" id="data_detail">
  </div>
  <div class="mt-5" id="gen_button">
  </div>
</form>

<div class="mt-5">
  <h3>★出来上がったJSONオブジェクトパーツ★</h3>

  <div class="mt-4 form-control form-control-lg" id="output_json">
  </div>
  <div class="mt-2">
    「JSON作成エリア」の配列[]内にカンマ区切りで追加してください
  </div>
  

</div>

<div class="mt-5">
  <h3>JSON作成エリア</h3>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="json_form" style="height: 300px">
[
  {"column_name": "文字", "generate_type": "product", "generate_data": ["aaa", "bbb", "ccc"]},
  {"column_name": "数値", "generate_type": "random", "generate_data": [100, 250, 300]},
  {"column_name": "日付", "generate_type": "product", "generate_data": ["2023/03/13", "2023/03/14", "2023/03/15"]},
  {"column_name": "日時", "linked_cname": "日付", "generate_data": ["2023/03/13 10:00:00", "2023/03/14 10:00:00", "2023/03/15 10:00:00"]}
]</textarea>
    <label for="json_form">テンプレートを参考にJSONを作りましょう！</label>
  </div>
  <div class="col-md-3 mt-3">
    <button class="btn-lg form-control btn btn-danger" id="json_download">JSON として保存</button>
  </div>
</div>


<nav aria-label="Page navigation example">
  <ul class="mt-5 pagination">
    <li class="page-item"><a class="btn-lg page-link link-danger" href="/">HOME</a></li>
    <li class="page-item"><a class="btn-lg page-link link-danger" href="/product_and_random/" target="_blank" rel="noopener noreferrer">データを増やす</a></li>
  </ul>
</nav>

<script src="{% static 'create/create.js' %}"></script>
<script src="{% static 'create/json_download.js' %}"></script>

{% endblock %}