{% extends "base.html" %} {% block content %}
{% load static %}
<!-- {% load widget_tweaks %} -->

<title>Step. 2 データを増やす</title>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h3>Step. 2ではなにをするの？</h3>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h3>Step. 2のゴールは、CSVを作成することです！ </h3>
                <h5>Step. 1で作成したJSONのテキストを貼り付けるだけでCSVを作成できます！</h5>
                <h5>試しに下記のJSONをコピーして、テキストエリアに貼り付けてみましょう！</h5>
<textarea readonly class="form-control h-80" style="font-size:20px;" id="exampleFormControlTextarea1" rows="4">[
{"column_name": "日付", "generate_type": "product", "generate_data": ["2025/01/01", "2025/01/03", "2025/01/05"]},
{"column_name": "営業担当者", "generate_type": "product", "generate_data": ["田中陽介", "三田恵", "佐田夏樹"]}
]</textarea>
            </div>
        </div>
    </div>
</div>

<form class="mt-5" action = "" method="post" id="json_form">
    {% csrf_token %}
    {% if JSON_text_area %}
    <!-- 「このフィールドは必須です」を非表示にするためにfor文を使う -->
    {% for field in JSON_text_area %}
        <div class="field">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    {% endif %}
    <div class="mt-2 col d-flex align-items-end">
        <button form="json_form" class="button btn-lg is-danger" type="submit" name = "check">JSON チェック</button>
    </div>
</form>

{% if checked_flag %} {% if error_msg %}
    <div class="mt-2 alert alert-primary" role="alert">
        <div class="row">
            <div class="col ">
                {{ error_msg.JSON_error | linebreaks}}
                {{ error_msg.error_msg | linebreaks }}
                {{ error_msg.error_form | linebreaks }}
                {{ error_msg.error_rule | linebreaks }}
                {{ error_msg.error_templete | linebreaks }}
            </div>
            <div class="col">
                {{ error_msg.error_sample | linebreaks }}
            </div>
        </div>
    </div>
{% else %}
    <div class="mt-2 alert alert-secondary" role="alert">
        JSONフォーマットに問題はありませんでした。
    </div>
{% endif%} {% endif%}

<div class="tile">
    <div class="tile">
        {% if checked_flag %} {% if not error_msg %}
        <form action = "" method="post" id="gen_form" >
            {% csrf_token %}
            <div class = "field">
                <div class = "control">
                    <button class="mt-5 button btn-lg is-danger" name="generate" href="#">Generate!</button> 
                </div>
            </div>
        </form>
        {% endif %} {% endif %}
    </div>
    <div class="tile">
        {% if dataframe_head %}
            <form action = "" method="post" id="download_csv" >
                {% csrf_token %}
                <div class = "field">
                    <div class = "control">
                        <button class="mt-5 button btn-lg is-danger" name = "download_csv"> Download CSV</button> 
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</div>

<div class="col mt-5">
    {% if dataframe_head %}
        <h5>上位10件</h5>
        {{ dataframe_head | safe }}
    {% endif %}
    {% if dataframe_tail %}
        <h5>末尾10件</h5>
        {{ dataframe_tail | safe }}
    {% endif %}
</div>

<div class="mt-5 row">
    <div class="col">
    </div>
  
    <div class="col-2 align-self-end">
      <!-- <button class="mb-5 btn-lg form-control btn btn-danger" id="json_download">JSON として保存</button> -->
      <a class="button btn-lg btn-primary" href="/make_trend/" target="_blank" rel="noopener noreferrer" style="text-decoration:none;">傾向をつける</a>
      <p>※ 別タブで開きます。</p>
    </div>
  </div>

<!-- <nav aria-label="Page navigation example">
    <ul class="mt-5 pagination">
      <li class="page-item"><a class="btn-lg page-link link-danger" href="/create">データを作る</a></li>
      <li class="page-item"><a class="btn-lg page-link link-danger" href="/make_trend/">傾向をつける</a></li>
    </ul>
</nav> -->

{% endblock %}