{% extends "base.html" %} 
{% load static %}
{% block content %}

<title>ダミーデータ作成ツール</title>

<div>
    <h3>Excelだと少し大変な数万件レベルのダミーデータを簡単に作成することができます！</h3>
    <h3>概要や使い方については、上部の「マニュアル」をご一読ください！</h3>
</div>

<div class="mt-5">
    <div class="row">
        <div class="col" >
            <h3>Step. 1</h3>
            <h4 class="mt-4">数値や日付、日時のデータを作ります。</h4>
        </div>

        <div class="col" >
            <h3>Step. 2</h3>
            <h4 class="mt-4">作ったデータを組み合わせて増やします。</h4>
        </div>

        <div class="col">
            <h3>Step. 3</h3>
            <h4 class="mt-4">数値データに対して傾向を付与します。</h4>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <img src="media/image/sample1.png" class="img-thumbnail" alt="sample1">
        </div>
        <div class="col">
            <img src="media/image/sample2.png" class="img-thumbnail" alt="sample2">
        </div>
        <div class="col">
            <img src="media/image/sample3.png" class="img-thumbnail" alt="sample3">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col d-grid gap-2">
            <button id = "go_createData" type="button" class="button btn-lg btn-primary">1. データを作る</button>            
        </div>

        <div class="col d-grid gap-2">
            <button id = "go_prodAndRand" type="button" class="button btn-lg btn-primary">2. データを増やす</button>
        </div>

        <div class="col d-grid gap-2">
            <button id = "go_makeTrend" type="button" class="button btn-lg btn-primary">3. 傾向をつける</button>
        </div>
    </div>
</div>

<div class="mt-5">

    <h3>リリースノート</h3>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action mt-2">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">機能追加</h5>
              <small>2023/5/31</small>
            </div>
            <p class="mb-1">[ALL] エラーなどを確認できるよう、ログを取得するようにしました。</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">不具合修正</h5>
            <small>2023/5/30</small>
          </div>
          <p class="mb-1">[Step.1 データを作る] 日付や日時のステップに「0」を指定したときに「Internal Server Error」が発生する問題を改善しました。</p>
          <p class="mb-1">[Top ページ] リリースノートを追加しました。</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">初期リリースしました！</h5>
            <small>2023/4/1</small>
          </div>
          <p class="mb-1">v1.00 リリースしました！不具合等見つけた場合はご連絡ください。</p>
        </a>
    </div>
</div>

<script src="{% static 'frontpage/frontpage.js' %}"></script>

{% endblock %}