{% extends "base.html" %} 
{% load static %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-7" >
            <img src="media/image/sample1.png" class="img-thumbnail" border="5" alt="sample1">
        </div>
        <div class="col" >
            <button id = "go_createData" type="button" class="button btn-danger btn-lg">データを作る</button>
            <h4 class="mt-4">数値や日付、日時のデータを生成します。</h4>
            <div class="mt-2">
                INPUT: 項目名や日付等を入力<br>
                OUTPUT: JSONファイル
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-7" >
            <img src="media/image/sample2.png" class="img-thumbnail" alt="sample2">
        </div>
        <div class="col" >
            <button id = "go_prodAndRand" type="button" class="button btn-danger btn-lg">データを増やす</button>
            <h4 class="mt-4">生成したデータを組み合わせたり、ランダムに結合して1つのテーブルを作成します。</h4>
            <div class="mt-2">
                INPUT: JSONファイル<br>
                OUTPUT: CSVファイル    
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-7" >
            <img src="media/image/sample3.png" class="img-thumbnail" alt="sample3">
        </div>
        <div class="col" >
            <button id = "go_makeTrend" type="button" class="button btn-danger btn-lg">傾向をつける</button>
            <h4 class="mt-4">数値データに対して傾向を付与します。</h4>
            <div class="mt-2">
                INPUT: CSVファイル<br>
                OUTPUT: CSVファイル
            </div>
        </div>
    </div>
</div>

<script src="{% static 'frontpage/frontpage.js' %}"></script>

{% endblock %}