{% extends "base.html" %} 
{% load static %}
{% block content %}


<button id = "go_createData" type="button" class="button btn-danger">データを作る</button>
<button id = "go_prodAndRand" type="button" class="button btn-danger">データを増やす</button>
<button id = "go_makeTrend" type="button" class="button btn-danger">傾向をつける</button>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/media/image/sample1.png" class="d-block w-100" alt="firstslide">
      </div>
      <div class="carousel-item">
        <img src="/media/image/sample2.png" class="d-block w-100" alt="secondslide">
      </div>
      <div class="carousel-item">
        <img src="/media/image/sample3.png" class="d-block w-100" alt="thiedslide">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<script src="{% static 'frontpage/frontpage.js' %}"></script>

{% endblock %}